{% extends 'base.html.twig' %}

{% block title %}Weather index{% endblock %}

{% block body %}
    <h1>Weather index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>City</th>
                <th>Description</th>
                <th>Date</th>
                <th>Temp_night</th>
                <th>Temp_day</th>
                <th>Rain_prob</th>
                <th>Wind_speed</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for weather in weather %}
            <tr>
                <td>{{ weather.id }}</td>
                <td>{{ weather.city }}</td>
                <td>{{ weather.description }}</td>
                <td>{{ weather.date ? weather.date|date('Y-m-d') : '' }}</td>
                <td>{{ weather.tempNight }}</td>
                <td>{{ weather.tempDay }}</td>
                <td>{{ weather.rainProb }}</td>
                <td>{{ weather.windSpeed }}</td>
                <td>
                    <a href="{{ path('app_weather_controller_crud_show', {'id': weather.id}) }}">show</a>
                    <a href="{{ path('app_weather_controller_crud_edit', {'id': weather.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_weather_controller_crud_new') }}">Create new</a>
    <a href="{{ path('app_cities_index') }}">Go to CITIES</a>
{% endblock %}
