{% extends 'base.html.twig' %}

{% block title %}Weather{% endblock %}
{% block pageTitle %}Weather List{% endblock %}

{% block body %}

    <div class="px-3">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>City</th>
                <th>Description</th>
                <th>Date</th>
                <th>Temp night</th>
                <th>Temp day</th>
                <th>Rain prob</th>
                <th>Wind speed</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for weather in weather %}
                <tr>
                    <td>{{ weather.id }}</td>
                    <td>{{ weather.city }}</td>
                    <td>{{ weather.description }}</td>
                    <td>{{ weather.date ? weather.date|date('Y-m-d') : '' }}</td>
                    <td>{{ weather.tempNight }}</td>
                    <td>{{ weather.tempDay }}</td>
                    <td>{{ weather.rainProb }}</td>
                    <td>{{ weather.windSpeed }}</td>
                    <td>
                        <a href="{{ path('app_weather_controller_crud_show', {'id': weather.id}) }}">show</a>

                        {% if is_granted('ROLE_WEATHER_CRUD_EDIT') %}
                            <a href="{{ path('app_weather_controller_crud_edit', {'id': weather.id}) }}">edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if is_granted('ROLE_WEATHER_CRUD_NEW') %}
            <a class="text-decoration-none" href="{{ path('app_weather_controller_crud_new') }}">
                <button class="btn btn-sm btn-outline-dark ms-2">Create new</button>
            </a>
        {% endif %}

        <a class="text-decoration-none" href="{{ path('app_cities_index') }}">
            <button class="btn btn-sm btn-outline-dark ms-2">Go to CITIES</button>
        </a>

    </div>


{% endblock %}
