{% extends 'base.html.twig' %}

{% block title %}Cities{% endblock %}
{% block pageTitle %}City details{% endblock %}

{% block body %}
    <div class="px-3">
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ city.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ city.name }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ city.country }}</td>
            </tr>
            <tr>
                <th>Lat</th>
                <td>{{ city.lat }}</td>
            </tr>
            <tr>
                <th>Lon</th>
                <td>{{ city.lon }}</td>
            </tr>
            </tbody>
        </table>

        <div class="d-flex">
            <a class="text-decoration-none" href="{{ path('app_cities_index') }}">
                <button class="btn btn-sm btn-outline-dark ms-2">Back to list</button>
            </a>

            {% if is_granted('ROLE_CITY_CRUD_EDIT') %}
                <a class="text-decoration-none" href="{{ path('app_cities_edit', {'id': city.id}) }}">
                    <button class="btn btn-sm btn-outline-dark ms-2">Edit</button>
                </a>
            {% endif %}

            {% if is_granted('ROLE_CITY_CRUD_DELETE') %}
                {{ include('cities/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>



{% endblock %}
